.footer__copyrighting {
    color: white;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__copyrighting {
        margin-top: 48px;
    }
}