.intro {
  margin: 92px auto 0;
  max-width: 984px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .intro {
    max-width: calc(100% - (48px * 2));
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .intro {
    margin-top: 88px;
    max-width: calc(100% - (24px * 2));
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin-top: 64px;
    max-width: calc(100% - (16px * 2));
  }
}