.place__link {
   text-decoration: underline;
   color: white;
   font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 122%;
}

.place__link:hover {
   opacity: .8;
}